<div class="row">
	<div class="col-lg-8">
		<div class="checkbox" data-ng-repeat="document in $ctrl.documents">
			<label for="{{document.documentId}}"><input type="checkbox" value="{{document.documentId}}"><a
				href="#!/edit/{{$ctrl.repositoryId}}/{{document.documentId}}">{{document.documentId}}</a></label>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
			<div class="panel-heading">Properties</div>
			<div class="panel-body">
				<form>
					<properties descriptions="$ctrl.descriptions" contents="true"></properties>
					<button type="submit" class="btn btn-success" data-ng-click="$ctrl.search()" tabindex="8">Search</button>
				</form>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Manage</div>
			<div class="panel-body">
				<form>
					<button type="submit" class="btn btn-success" data-ng-click="$ctrl.reindex()" tabindex="8">Re-index</button>
				</form>
			</div>
		</div>
		<!-- div class="panel panel-default">
			<div class="panel-heading">Envoyer par e-mail</div>
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="inputEmailAddress" class="col-sm-2 control-label">Adresse</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputEmailAddress"
								placeholder="Adresse" data-ng-model="email.address" tabindex="1"
								autofocus="autofocus" data-select-on-click>
						</div>
					</div>
					<div class="form-group">
						<label for="inputMessage" class="col-sm-2 control-label">Message</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputMessage"
								placeholder="Pour info" data-ng-model="email.message"
								tabindex="2" autofocus="autofocus" data-select-on-click>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-success"
								data-ng-click="send()" tabindex="8">Envoyer</button>
						</div>
					</div>
				</form>
			</div>
		</div-->
	</div>
</div>